<!-- navbar -->

<mat-toolbar *ngIf='!deviceXs' fxLayoutAlign='space-between' class="navbar"
  style="height: 80px;  position: fixed;top: 0;background-color: white;">
  <div class="spasi"></div>

  <span><img style="width: 51px;
      height: 62px;
      left: 59px;
      top: 9px;" src="assets/vuenic-logo.png" alt=""></span>

  <span><img style="width: 96px;
      height: 37px;
      left: 119px;
      top: 22px;margin-left: 9px;" src="assets/vuenic.png" alt=""></span>


  <a class="bacaannav" href="#" style="margin-left: 48px;text-decoration: none;">Tentang
    Kami</a>
  <a class="bacaannav" href="#" style="margin-left: 37px;text-decoration: none;">layanan</a>
  <a class="bacaannav" href="#" style="margin-left: 37px;text-decoration: none;">Blog</a>
  <a class="bacaannav" href="#" style="margin-left: 37px;text-decoration: none;">Pusat Bantuan</a>


  <span class="example-spacer"></span>
  <button mat-flat-button style="width: 120px;border-radius: 5px;background-color: #46C6CC;
   
    height: 40px;"><span style="color: #ffffff;">Daftar/Masuk</span></button>
  <div class="spasi2"></div>
</mat-toolbar>

<!-- mobile navbar -->
<mat-toolbar *ngIf='deviceXs' fxLayoutAlign="space-around center" style="background-color: white;">
  <mat-toolbar-row>
    <span><img style="width: 35px;
      height: 41px;" src="assets/vuenic-logo.png" alt=""></span>
    <span><img style="width: 81px;
      height: 30px;;margin-left: 9px;" src="assets/vuenic.png" alt=""></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <img src="assets/tombolmenu.svg" alt="">
    </button>
  </mat-toolbar-row>
</mat-toolbar>



<!-- akhir navbar -->
<!-- jumbotron -->

<!-- <div class="jumbotron" style="text-align: center;">
  <img class="jumbo" style="margin-top: 62px;width: 100%" src="assets/tanah.svg" alt="">
  <button mat-flat-button style="display: block;text-align: center;margin: auto;margin-top: -70px;background: #46C6CC;
  box-shadow: 4px 4px 16px rgba(44, 44, 44, 0.5);
  border-radius: 35px;width: 180px;
height: 40px;;"><span style="color: white;">Klik Di sini</span></button>
</div>
<div class="lingkaran">
  <img src="assets/lingkaran" alt="">
  <img src="assets/lingkaran" alt="">
</div> -->

<!-- mobile jumbotron -->
<div class="jumbotronmobile">

</div>
<!-- akhir jumbotron -->
<!-- middle -->
<!-- <div class="middle"> -->
<!-- Tentang -->
<!-- <div class="tentang">
    <img style="margin-left: 59px;margin-top: 90px;float: left;" src="assets/gamabrt2.svg" alt="">
    <div class="text">
      <span class="h2">Tentang Yayasan Anak<br>Bangsa Bisa</span>
      <br><span style="font-family: 'lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 165%;padding-top: 11px;display: inline-block;">Amet minim mollit non deserunt ullamco est sit aliqua
        dolor
        do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation veniam
        consequat sunt nostrud amet. </span>
      <span class="selen" style="display: inline-block;">Selengkapnya <img src="assets/panah.svg"
          style="margin-left: 2px ;" alt=""></span>
    </div>
  </div> -->


<!-- akhir Tentang -->
<!-- slider -->



<!-- akhir silder -->
<!-- layanan -->
<!-- <br>
  <div class="layan"><span class="layanan">Layanan Kami</span></div> <br>
  <div class="loremp"><span class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor.
    </span></div>
  <div class="layananbawah">
    <div class="kotak">
      <img src="assets/selada.svg" alt="">
      <span style="font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  margin-top: -48px;
  margin-left: 11px;
  display: block;
  
  color: #FFFFFF">Lorem</span>
      <p class="lor">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore
        et
        dolore
        magna aliqua.</p>
    </div>
    <div class="kotakke2">
      <img src="assets/selada.svg" alt="">
      <span style="font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  margin-top: -48px;
  margin-left: 11px;
  display: block;
  
  color: #FFFFFF">Lorem</span>
      <p class="lor">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore
        et
        dolore
        magna aliqua.</p>
    </div>
    <div class="kotakke3">
      <img src="assets/selada.svg" alt="">
      <span style="font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  margin-top: -48px;
  margin-left: 11px;
  display: block;
  
  color: #FFFFFF">Lorem</span>
      <p class="lor">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore
        et
        dolore
        magna aliqua.</p>
    </div>
    <div class="kotakke4">
      <img src="assets/selada.svg" alt="">
      <span style="font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  margin-top: -48px;
  margin-left: 11px;
  display: block;
  
  color: #FFFFFF">Lorem</span>
      <p class="lor">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore
        et
        dolore
        magna aliqua.</p>

    </div>
    <div class="kotakke5">
      <img src="assets/selada.svg" alt="">
      <span style="font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */
  margin-top: -48px;
  margin-left: 11px;
  display: block;
  
  color: #FFFFFF">Lorem</span>
      <p class="lor">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore
        et
        dolore
        magna aliqua.</p>

    </div>
  </div> -->



<!-- akhir layanan -->
<!-- footer -->
<!-- <div class="footer">
    <img src="assets/vtext.png" style="margin-left: 76px;margin-top: 58px;float: left;" alt="">

    <ul style="margin-left: 146px;float: left;font-display: block;">
      <li style="margin-top: 82px;"><a class="laya" href="#">Tentang Kami</a></li>
      <li style="margin-top: 23px;"><a class="laya" href="#">Layanan</a></li>
      <li style="margin-top: 23px;"><a class="laya" href="#">Blog</a></li>
      <li style="margin-top: 23px;"><a class="laya" href="#">Pusat Bantuan</a></li>
      <li style="margin-top: 23px;"><a class="laya" href="#">Pusat Bantuan</a></li>
    </ul>
    <ul style="margin-left: 122px;float: left;font-display: block;">
      <li style="margin-top: 82px;"><a class="laya" href="#">Tentang Kami</a></li>
      <li style="margin-top: 23px;"><a class="laya" href="#">Layanan</a></li>
      <li style="margin-top: 23px;"><a class="laya" href="#">Blog</a></li>
      <li style="margin-top: 23px;"><a class="laya" href="#">Pusat Bantuan</a></li>
      <li style="margin-top: 23px;"><a class="laya" href="#">Pusat Bantuan</a></li>
    </ul>
    <span style="font-family: 'lato',sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 30px;
   line-height: 180%;
   /* identical to box height, or 54px */
   margin-top: 69px;
   display: inline-block;
   margin-left: 146px;
   
   color: #FFFFFF;">Unduh</span>
  </div>
  <div class="border" style="border: 0.5px solid #FFFFFF;margin-top: -100px;width: 1248px;height: 0px;">

  </div> -->


<!-- akhir footer -->
<!-- </div> -->
<!-- akhir middle -->

<router-outlet></router-outlet>
